<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/APonce911" target="_blank" class="external-link"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/airtonponce/" target="_blank" class="external-link"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.facebook.com/APonce911" target="_blank" class="external-link"><i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/airton_p/" target="_blank" class="external-link"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="footer-copyright">
    Airton Ponce Blog & Portfolio. 2019
  </div>
</div>
