.current {
  color: green;
}
body {
  left:0;
  top:0;
  background-color: #FCFAFA;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  color: #6E8387;
  letter-spacing:0.05em;
  // width:100%;
  // min-height:100vh;
}

h1, h2, h3, h4{
  color: #95A4A7;
  font-weight: 400;
  font-variant: small-caps;
  margin-bottom:0
}

p, li, a {
  font-weight: 400;
  line-height: 1.4em;
}
.navbar{
  margin-top:15px;
  display:flex;
  align-items: center;
  justify-content:space-between;
}
.name{
  margin: 0;
  padding: 0;
}
.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width:17%;
  // align-self:center;
  margin: 0;
  padding: 0;

}
.wrapper{
// min-height: calc(100vh - 90px);
min-height:calc(100vh - 15px);
border: 0px;
padding:0px;
margin-bottom: -90px;
}
.push{
  height: 90px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
