.navbar{
  display:flex;
  align-items: baseline;
  justify-content:space-between;
  margin-bottom:30px;
}
.name{
  margin: 0;
  padding: 0;
}
.name:before{
  content: 'A';
}
.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width:17%;
  margin: 0;
  padding: 0;
}
.tabs a{
  margin: 5px;
}
@media only screen and (min-width: 38rem){
  .name:before{
    content: 'Airton ';
  }
}
